$black: #151515;
$green: #4ee1a0;
$darkGrey: #242424;
$grey: #d9d9d9;
$white: #ffffff;

$headingXLSize: 88px;
$headingXL_lineHeight: 88px;
$headingXL_letterSpacing: -2.5px;

$headingLSize: 48px;
$headingL_lineHeight: 56px;
$headingXL_letterSpacing: -1.5px;

$headingMSize: 24px;
$headingM_lineHeight: 32px;

$textSize: 18px;
$text_lineHeight: 28px;
